.zip
.exe
Pratica_4_Jefte-Gomes-105469/pratica4_exercicio4/pratica4.4
*.zip
*.zip
*.zip
Pratica_5_Jefte-Gomes-105469/pratica5.1/pratica5.1
*.zip
Pratica_4_Jefte-Gomes-105469/pratica4_exercicio3.zip
Pratica_4_Jefte-Gomes-105469/pratica4_exercicio3.zip
Pratica_5_Jefte-Gomes-105469/pratica5.2/pratica5.2
